{% extends 'base_generic.html' %}

{% block styles %}
    <style>
        .password-reset-instructions {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f2f2f2;
            border-radius: 5px;
            text-align: center;
        }

        .password-reset-instructions p {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="password-reset-instructions">
        <p>We've emailed you instructions for setting your password.
            If they haven't arrived in a few minutes, check your spam folder.</p>
    </div>
{% endblock %}
