{% extends 'base_generic.html' %}

{% block styles %}
    <style>
        .password-reset-form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f2f2f2;
            border-radius: 5px;
            text-align: center;
        }

        .password-reset-form p {
            margin-bottom: 10px;
        }

        .password-reset-form .error-message {
            color: red;
            margin-bottom: 10px;
        }

        .password-reset-form input[type="text"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .password-reset-form input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .password-reset-form input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="password-reset-form">
        <form action="" method="post">
            {% csrf_token %}
            <p>Introduzca su correo</p>
            {% if form.email.errors %}
                <p class="error-message">{{ form.email.errors }}</p>
            {% endif %}
            <p>{{ form.email }}</p>
            <input type="submit" class="btn btn-default btn-lg" value="Reset password">
        </form>
    </div>
{% endblock %}