{% extends 'base_generic.html' %}

{% block styles %}
    <style>
        .password-change-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f2f2f2;
            border-radius: 5px;
            text-align: center;
        }

        .password-change-container h1 {
            margin-bottom: 20px;
        }

        .password-change-container p {
            margin-bottom: 20px;
        }

        .password-change-container a {
            color: #3699fc;
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="password-change-container">
        <h1>The password has been changed!</h1>
        <p><a href="{% url 'login' %}">Log in again?</a></p>
    </div>
{% endblock %}
