{% extends "base_generic.html" %}

{% block content %}
    <h1>Author: {{ author.first_name }} {{ author.last_name }}</h1>
    <p>{{author.date_of_birth}}-{{author.date_of_death}}</p>
    {% if books %}
        <h2>Books</h2>
        <ul>
            {% for book in books %}
                <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a><br>{{ book.summary }}</li>
                
            {% endfor %}
        </ul>
    {% else %}
    <p>No se encontraron libros para este autor.</p>
    {% endif %}
{% endblock %}