{% extends 'base_generic.html' %}

{% block content %}
  <h1>Book List</h1>
  {% if perms.catalog.can_mark_returned %}
    <a class="create-book-link" href="{% url 'book-create' %}">Create book</a>
  {% endif %}

  <form method="GET">
    <label for="author">Filter by Author:</label>
    <select name="author" id="author">
      <option value="">All Authors</option>
      {% for author in author_list %}
        <option value="{{ author.id }}">{{ author }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Filter" class="filter-button">
  </form>

  {% if object_list %}
    <ul class="book-list">
      {% for book in object_list %}
        <li class="book-item">
          <a href="{{ book.get_absolute_url }}" class="book-title">{{ book.title }}</a> - {{ book.author }}
          {% if perms.catalog.can_mark_returned %}
          -<a class="book-action" href="{% url 'book-update' book.id %}">Update book</a>-
          <a class="book-action" href="{% url 'book-delete' book.id %}">Delete book</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}

{% block styles %}
<style>
    .create-book-link {
        display: inline-block;
        margin-bottom: 10px;
        padding: 5px 10px;
        background-color: #3699fc;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
  .filter-button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #3699fc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .book-list {
    list-style: none;
    padding: 0;
  }
  .book-action {
        margin-left: 5px;
        text-decoration: none;
        color: #999;
    }

  .book-item {
    margin-bottom: 10px;
  }

  .book-title {
    text-decoration: none;
    color: #3699fc;
  }
</style>
{% endblock %}
