{% extends "base_generic.html" %}

{% block title %}
    <title>The Library</title>
    {{block.super}}
{% endblock %}
{% block content %}
  <h1 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Joan Alcover Library Home</h1>
  <p>Welcome to Joan Alvover Library, a website developed by <em>Antonio Ruiz Ruiz</em>!</p>
  <h2 style="font-size: 18px;margin-top: 30px;">Last 5 Books Added</h2>
  <ul style="list-style-type: none;padding: 0;">
      {% for book in last_books %}
          <li style="margin-bottom: 10px;"><a style="text-decoration: none;color: #3699fc;" href="{{ book.get_absolute_url }}">{{ book.title }}</a> by {{ book.author }}</li>
      {% endfor %}
  </ul>
  <h2 style="font-size: 18px;margin-top: 30px;">About us</h2>
  <p>The Joan Alcover Library is one of the youngest in the network. <a style="text-decoration: none;color: #3699fc;" href="{% url 'aboutus' %}">Read more.</a></p>
  <h2 style="font-size: 18px;margin-top: 30px;">dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul style="list-style-type: none;padding: 0;">
    <li style=" margin-bottom: 10px"><strong>Books:</strong> {{ num_books }}</li>
    <li style=" margin-bottom: 10px"><strong>Total of copies:</strong> {{ num_instances }}</li>
    <li style=" margin-bottom: 10px"><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li style=" margin-bottom: 10px"><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>

  <p style="font-style: italic;margin-top: 30px;">You have visited this page {{ num_visits }} time {{ num_visits|pluralize }}.</p>
{% endblock %}